<div w3-include-html="cells.html"></div>
<div class="homepage">
  <h1>Search X resources.</h1>
  <div class="homesearch">
    <form class="search" action="/search" method="get">
      <input name="q" type="text" placeholder="Search for resources" autofocus autocomplete="off">
      <button class="btn homesearchbutton" type="submit">Search</button>
      <div class="results"></div>
    </form>
  </div>
</div>


